.dateWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.date {
  font-size: 1.25rem;
  color: var(--foreground);
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  margin: 0;
  box-sizing: border-box;
}

